{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css'%}">
    <link rel="stylesheet" href="{% static 'cssforHistory.css'%}">
    <script src={% static 'historypragraph.js' %}>
        <noscript>Your browser does not support JavaScript.</noscript>
    </script>
</head>

<body onload="disp()">
    <div class="cont">
        <ul class="navbar">
            <li class=""><a href="/">Home</a></li>
            <li class=""><a href="/about">About</a></li>
            <li class=""><a href="/contact">Contact</a></li>
            <li class="" style="border-color: rgb(0, 177, 0);"><a href="/account/myprofile">Hello
                    {{user.first_name}}</a></li>
            <li class=""><a href="/account/login">Logout</a></li>
        </ul>
        <hr>
        <div>
            <h1 class="heading2">History</h1>
            {% if ud %}
            {% for d in ud %}
            <b>Date and Time: </b>{{d.dateandtime}}
            <br>
            <p>
                {{d.user_data}}
                {% comment %} now, data is comming but proper formating stil reminang. {% endcomment %}
            </p>
            <form action="/history/delete_histry" method="post" onclick="return confirm('Do you want to submit?')">
                {% csrf_token %}
                <input type="text" name="ID_Delete" value="{{d.id}}" hidden>
                <button type="submit" class="deleteBut">Delete</button>
            </form>
            <hr>
            {% endfor %}
            {% else %}
            <hr>
            <h2 class="red">Empty!</h2>
            {% endif %}

        </div>
    </div>
</body>

</html>