{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home.css'%}">
    <noscript>Your browser does not support JavaScript.</noscript>
</head>

<body>
    <div class="cont">
        <ul class="navbar">
            <li class=""><a href="/">Home</a></li>
            <li class=""><a href="/about">About</a></li>
            <li class=""><a href="/contact">Contact</a></li>
            <li class=""><a href="/account/register">Register</a></li>
            <li class="active"><a href="/account/login">Login</a></li>
        </ul>
        {% if fd %}
        <h1 class="heading">
            Login Form
        </h1>
        <form method="post">
            {% csrf_token %}
            {{fd.as_p}}
            <input type="submit" value="Submit" id="subm">
        </form>
        {% endif %}
        <div class="notics">
            {% if messages %}
            {% for n in messages %}
            {{n}}
            {% endfor %}
            {% endif %}
        </div>
    </div>
</body>

</html>