{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transpara | About</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        body p {
            font-family: 'Quicksand', sans-serif;
            size: 21px;
        }
    </style>
    <noscript>Your browser does not support JavaScript.</noscript>
</head>

<body>
    <div class="cont">
        <ul class="navbar">
            <li class=""><a href="/">Home</a></li>
            <li class="{% if active_about %}active{% endif %}"><a href="/about">About</a></li>
            <li class="{% if active_contact %}active{% endif %}"><a href="/contact">Contact</a></li>
            {% if user.is_authenticated %}
            <li class="{% if active_myprofile %}active{% endif %}" style="border-color: rgb(0, 177, 0);"><a
                    href="/account/myprofile">Hello
                    {{user.first_name}}</a></li>
            <li class="{% if active_editprofile %}active{% endif %}"><a href="history/history">My History</a></li>
            <li class="{% if active %}active{% endif %}"><a href="account/logout">Logout</a></li>
            {% else %}
            <li class="{% if active_register %}active{% endif %}"><a href="/account/register">Register</a></li>
            <li class="{% if active_login %}active{% endif %}"><a href="/account/login">Login</a></li>
            {% endif %}
        </ul>
        <h1 class="heading">About us</h1>
        <h3>Welcome to Transpara - Your Trusted Educational Partner.</h3>

        <p>At Transpara, our mission is to assist students in their quest to elevate their vocabulary. Established in 2023, we have maintained an unwavering commitment to delivering exceptional customer service.
</p>
        <p>
            Transpara is a dedicated project aimed at bolstering students' academic pursuits by enhancing their vocabulary skills.
        </p>
        <p>
            <b>What is Transpara?</b><br>
            Transpara is the services that provides to user who want to increse his/her Vocabulary.
        </p>
    </div>
</body>

</html>