{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transpara | About</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    <div class="cont">
        <ul class="navbar">
            <li class=""><a href="/">Home</a></li>
            <li class="{% if active_about %}active{% endif %}"><a href="/about">About</a></li>
            <li class="{% if active_contact %}active{% endif %}"><a href="/contact">Contact</a></li>
            {% if user.is_authenticated %}
            <li class="{% if active_myprofile %}active{% endif %}" style="border-color: rgb(0, 177, 0);"><a href="/account/myprofile">Hello
                    {{user.first_name}}</a></li>
            <li class="{% if active_editprofile %}active{% endif %}"><a href="history/history">My History</a></li>
            <li class="{% if active %}active{% endif %}"><a href="account/logout">Logout</a></li>
            {% else %}
            <li class="{% if active_register %}active{% endif %}"><a href="/account/register">Register</a></li>
            <li class="{% if active_login %}active{% endif %}"><a href="/account/login">Login</a></li>
            {% endif %}
        </ul>
        <h1 class = "heading">About us</h1>
        <p>Hello all </p>
        <p>Welcome to Transpara, Expand yout Vocabulary.</p>
        <p>
            This is a project which help to students in their studies.
        </p>
    </div>
</body>

</html>